.fade-enter-active,
.fade-leave-active {
    transition: opacity .1s ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.zoom-enter-active,
.zoom-leave-active {
    transition: opacity .5s ease, transform .5s ease;
}

.zoom-enter,
.zoom-leave-active {
    opacity: 0;
    transform: scale3d(.7, .7, 0);
}

.fade-slow-enter-active,
.fade-slow-leave-active {
    transition: opacity .3s ease;
}

.fade-slow-enter,
.fade-slow-leave-active {
    opacity: 0;
}

@keyframes pulse {
    0% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
    }
}