// shrinking label
@mixin form-focus {
    cursor: default;
    transform: translate3d(2px, -18px, 0) scale3d(.45, .45, .45) translateZ(1px) !important;
}

// checkbox and radio
@mixin form-option {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    z-index: 0;
    display: inline-block;
    box-sizing: border-box;
    margin: -10px 0 0;
    padding: 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 100%;
    font-family: inherit;
    line-height: normal;
    opacity: 0;
    cursor: pointer;
    -webkit-appearance: none;
}