ul {
    padding-left: 1.8em;
}

ul li {}

ol {
    padding-left: $grid-gutter;
}

ol li {
    margin-bottom: $grid-gutter;
}

li {
    @include font-smoothing;

    margin-bottom: 5px;
    font-size: 18px;
}